html {
    scroll-behavior: smooth;
  }

body {
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    background-color: #111821;
}

/* Header */
header {
    font-family: Josefin Sans;
    background-color: #223247;
    color: #e31b6d;
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 99999;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 4rem;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li a:hover {
    color: #e31b6d;
    transition: color 0.3s;
  }

.checkbtn {
    font-size: 30px;
    color: #e31b6d;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Container Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;
    padding: 1em;
    position: relative;
    top: 5em;
}

/* leftSidebar & Right Sidebar */
.leftSidebar, .rightSidebar {
    background-color: white;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 20px 20px 50px #ae0049;;
}

main h2, .leftSidebar h2, .rightSidebar h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #ae0049;
    padding-bottom: 5px;
    border-radius: 10px;
}

.leftSidebar ul, .rightSidebar ul, main ul {
    list-style: none;
    padding: 0;
}

.leftSidebar li, .rightSidebar li {
    padding: 5px 0;
}

.links a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
}

/* Main Content */
main {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 20px 20px 50px #ae0049;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile img {
    max-width: 15em;
    max-height: 15em;
    border-radius: 100%;
    border: 5px solid #ae0049;
    box-shadow: 0px 0px 20px #ae0049;
}

.profile p {
    font-size: 1rem;
    font-family: Lora;
}

/* Side contents */
.skills, .hobbies, .movies, .research, .links, .education {
    background-color: #223247;
    border-radius: 10px;
}
.skills ol {
    padding-left: 1em;
    list-style: none;
}

.skills img {
    max-width: 2em;
}

.hobbies ul, .movies ul, .research ul, .links ul, .education ul {
    padding-left: 1em;
}

#education, #skills {
    scroll-margin-top: 5rem;
}